In [12]:
import pandas as pd
from ast import literal_eval

In [4]:
credits = pd.read_csv('../dataset/credits.csv')
keywords = pd.read_csv('../dataset/keywords.csv')
links = pd.read_csv('../dataset/links.csv')
md = pd.read_csv('../dataset/movies_metadata.csv')
ratings = pd.read_csv('../dataset/ratings.csv')

/var/folders/wy/xyqwny610cb9ft3dhglx4jyc0000gn/T/ipykernel_12703/2838257103.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  md = pd.read_csv('../dataset/movies_metadata.csv')

In [14]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval)
md['genres'] = md['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [24]:
all_genres = md['genres'].explode().unique()
all_genres

array(['Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'History',
       'Science Fiction', 'Mystery', 'War', 'Foreign', nan, 'Music',
       'Documentary', 'Western', 'TV Movie', 'Carousel Productions',
       'Vision View Entertainment', 'Telescene Film Group Productions',
       'Aniplex', 'GoHands', 'BROSTA TV',
       'Mardock Scramble Production Committee', 'Sentai Filmworks',
       'Odyssey Media', 'Pulser Productions', 'Rogue State', 'The Cartel'],
      dtype=object)

In [72]:
def build_chart(genres, percentile=0.85):
    filtered_row_ids = []
    
    for idx, row in md.iterrows():
        if all(genre in row['genres'] for genre in genres):
            filtered_row_ids.append(idx)
    
    filtered_row_ids = list(set(filtered_row_ids))
    
    df = md.loc[filtered_row_ids]
    
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['id', 'title', 'genres', 'vote_count', 'vote_average']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [74]:
build_chart(['Animation', 'Comedy'])

,id,title,genres,vote_count,vote_average,wr
13724,14160,Up,"[Animation, Comedy, Family, Adventure]",7048,7,6.891386
30315,150540,Inside Out,"[Drama, Comedy, Animation, Family]",6737,7,6.886837
24455,177572,Big Hero 6,"[Adventure, Family, Animation, Action, Comedy]",6289,7,6.879572
4756,585,"Monsters, Inc.","[Animation, Comedy, Family]",6150,7,6.877124
0,862,Toy Story,"[Animation, Comedy, Family]",5415,7,6.862328
...,...,...,...,...,...,...
12218,6477,Alvin and the Chipmunks,"[Comedy, Music, Family, Fantasy, Animation]",1212,5,5.282743
11405,9836,Happy Feet,"[Animation, Comedy]",1457,5,5.250462
8180,10555,Shark Tale,"[Animation, Action, Comedy, Family]",1612,5,5.233590
17361,49013,Cars 2,"[Animation, Family, Adventure, Comedy]",2088,5,5.193549
38753,223702,Sausage Party,"[Adventure, Animation, Comedy, Fantasy]",2310,5,5.179221